/* Header */

.wrap {
  background-color: var(--wrap-color);
}

.header {
  max-width: 100%;
  line-height: 1.3rem;

}

.nav {

}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: var(--background-color);
}


.header__nav-item {
  padding: 0 1.3rem;
}

/*Page activing*/
.header__mainPage {
  position: relative;
}

.header__mainPage::after {
  position: absolute;
  width: 5rem;
  height: 0.3rem;
  font-weight: 300;
  content: "";
  display: block;
  bottom: -0.9rem;
  left: calc(100%- 3.1rem);
  right: 27%;
  background-color: var(--active-color);
}


.header__nav-item .header__nav-logo {
  margin-left: -2.6rem;
  width: 100%;
  cursor: pointer;
}

.header__nav-item>a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.5rem;
  padding: 1.3rem;
  margin: 0rem -1rem;
}

.header__nav-item i {
  color: var(--icon-color);
  font-size: 1.2rem;
  padding-left: 0.3rem;

}

/* Form search */
.header__nav-form,
.header__form-icon {
  display: inline-block;
  padding-left: 3.5rem;
  
}

.header__nav-form input {
  padding: 1.1rem 1.7rem;
  background-color: var(--wrap-color);
  border: none;
  border-radius: 0.3rem;
  color: var(--text-color);
  outline: none;
}

.header__nav-form {
  position: relative;
  border-radius: 2rem;
}

.header__nav-form i {
  position: absolute;
  top: calc(100% - 2.5rem);
  padding-right: 1.4rem;
  right: 0;
  color: #fff;
  
  
}
.header__nav-form input::placeholder {
  color: var(--placeholder-text);
  transition: color 0.3s ease; /* Hiệu ứng mượt mà */
}
.header__nav-form input:focus::placeholder {
  color: var(--text-color);
}

/*Login*/
.header__nav-login, .btn {
  position: relative;
  align-items: center;
  margin-left: 0rem;
  background-color: var(--btn-color);
  padding: 0 1.2rem;
  border-radius: 0.3rem;
  padding: 1.2rem 1.3rem;
}

.header__nav-login a {
  font-size: 1.3rem;
}

.header__nav-login:hover {
  background-color: var(--wrap-color);
}

/* Login/LogOut Pages */
.login__body {
  background: var(--wrap-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -2rem 0 5rem;
}
.container__login-pages {
	background-color: var(--text-color);
	border-radius: 1rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25) 0 1rem 1rem rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 76.8rem;
	max-width: 100%;
	min-height: 48rem;
}

.container__login-pages button {
  border-radius: 2rem;
	border: 0.1rem solid var(--bg-overlay);
	background-color: var(--btn-overlay);
	color: var(--text-color-light);
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1.2rem 4.5rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.container__login-pages button:focus {
  outline: none;
}

.container__login-pages button:active {
  transform: scale(0.95);
}

/* Login/Logout Pages */

.body__login {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -2rem 0 5rem;
}

.container__login-form h1 {
	font-weight: bold;
	margin: 0;
}

.container__login-form p {
	font-size: 1.4rem;
	font-weight: 100;
	line-height: 2rem;
	letter-spacing: 0.05rem;
	margin: 2rem 0 3rem;
}

.container__login-form span {
	font-size: 1.2rem;
}

.container__login-form a {
	color: #333;
	font-size: 1.4rem;
	text-decoration: none;
	margin: 1.5rem 0;
}

.container__login-form button {
	border-radius: 2rem;
	border: 0.1rem solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 1.2rem 4.5rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.container__login-form button:active {
	transform: scale(0.95);
}

.container__login-form button:focus {
	outline: none;
}

.container__login-form button.overlay__btn-hidden {
	background-color: transparent;
	border-color: #FFFFFF;
}

.container__login-form form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 5rem;
	height: 100%;
	text-align: center;
}

.container__login-form input {
	background-color: #eee;
	border: none;
	padding: 1.2rem 1.5rem;
	margin: 0.8rem 0;
	width: 100%;
}

.container__login-form {
	background-color: #fff;
	border-radius: 1rem;
  	box-shadow: 0 1.4rem 2.8rem rgba(0,0,0,0.25), 
			0 1rem 1rem rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 76.8rem;
	max-width: 100%;
	min-height: 48rem;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 4rem;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 2rem 0;
}

.social-container a {
	border: 0.1rem solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.5rem;
	height: 4rem;
	width: 4rem;
}


/* Sub menu */
.header__nav-subMenu {
  position: relative;
  max-height: 20rem;
  
}
/* Thanh angle và cầu */
.header__nav-subMenu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 0.6rem solid ;
  border-color : transparent transparent var(--active-color) transparent; 
  margin-left: 3rem;
  margin-bottom: -1.5rem;
  display: none;

}
.header__nav-subMenu:hover::after {
  display: block;
  animation: shapeTranslate ease-in 0.2s;
}
.header__nav-subMenu::before {
  content: "";
  left : 0;
  top : 0;
  width: 12rem;
  height: 2rem;
  max-height: 15rem;
  margin-top : 2rem;
  background-color: transparent;
  position: absolute;
}

/* Cầu nối */
/* .header__subMenu::before {
  content: "";
  left : 0;
  top : 0;
  width: 12rem;
  height: 12rem;
  max-height: 15rem;
  margin-top : -5rem;
  background-color: transparent;
  position: absolute;
} */


.header__subMenu-list {
  position: relative;
}


/* Thanh ngang */
.header__subMenu::before {
  /*element no fixed
    position fixed no set left, right ,..
  */
  /* content: "";
  position: absolute;
  width: 45rem;
  height: 0.5rem;
  background-color: var(--active-color);
  left: 0;
  top :0;
  margin-bottom: -1.5rem;
  max-width: 45rem; */
  content: "";
  position: fixed;
  width: 34.7rem;
  max-width: 43rem;
  height: 0.3rem;
  background-color: var(--active-color);
  margin-bottom: -1.5rem;
  z-index: 1;
  border-radius: 0.2rem;
  display: none;
} 

/* content submenu*/
.header__subMenu {
  max-width: 43rem;
  width: 35rem;
  max-height: calc(100% + 17rem);
  height: auto;
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 0 0 0.3rem 0.3rem;
  left: 0;
  top: calc(100% + 1.5rem);
  margin-left: 1.5rem;
  transition: right linear 0.2s;
  overflow: hidden;
  /*  box-shadow: h-offset(shadow ngang) v-offset(dọc) blur(mờ) spread(phân tán) color optional; */
  box-shadow: 0 0.2rem 0.2rem #b8b7b7;
}
.header__nav-subMenu .header__subMenu::before {
  display: block;
}
.header__nav-subMenu:hover .header__subMenu {
  display: block;
  /* Oy */
  overflow-y: scroll; 
  z-index: 200;
  animation: shapeTranslate ease-in 0.2s;
}

.header__subMenu-item:hover a {
  color : var(--btn-color);
}



.header__subMenu-list .header__subMenu-item {
  /* Float là khi tràn nó sang left + width */
  float: left; 
  width: 33.3333333%;
  padding: 0.8rem 1.6rem;
  list-style: none;
  margin-top: 1rem;
  max-width: 20rem;
}

.header__subMenu-item a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 1.3rem;
  padding: 0.8rem 0;
  width: 33.33333333%;
  font-weight: 400;

}
/* Custom scroll : https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* Custom Scroll */
/* Width */
.header__subMenu::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 0.5rem;  
}

/* Track */
.header__subMenu::-webkit-scrollbar-track {
  background-color: darkgrey;
}

/* Handle */
.header__subMenu::-webkit-scrollbar-thumb {
  background-color: var(--btn-color);
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
}

/* Hover */
/* .header__subMenu::-webkit-scrollbar-thumb:hover {
  background-color: var(--btn-color); 
} */

@keyframes shapeTranslate{
  from {
    opacity: 0;
      transform: translateX(0);
  }
  to {
      opacity: 1;
      transform: translateX(0.5);
  }
}

@keyframes growUp{
  from {
      opacity: 0;
      transform : scale(0); /* tỉ lệ */
  }
  to {
      opacity: 1;
      transform : scale(1);
  }
}

/* Body */
.body__container {
  background-color: var(--background-color);
  width: 107rem;
  max-width: 100%;
  height: auto;
  max-height: 320rem;
  margin: 2rem auto;
  padding: 2rem 2rem;

}
/* Slider */
#slider {
  display: block;
  position: relative;
}

/*  Trailer  */
.slider__video {
  width: 64rem;
  height: 34rem;
  max-width: 64rem;
}

.slider__video video {
  margin-left : -2rem;
  display: inline;
}


/* Infomation slider */
.slider__textContent {
  position: absolute;
  right : 0; 
  top : 0;
  width: calc(100% - 60rem);
  height: 30rem;
  /* background-color: var(--background-color); */
}
.slider__textContent-heading .slider__textContent-img {
  right : 0;
  top : 4rem;
  position: absolute;
  max-width: 45rem;
  padding-left: 8.3rem;
  max-height: 13rem;
}

/* Li */
.slider__information-list {
  display: block;
}

.slider__information-items {
  /* position: absolute;
  bottom : 0;
  left : 0;
  color : var(--text-color-light);
  list-style: none;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  width: 45rem;
  height: 1rem;
  margin-bottom: 15rem;
  padding-left : 3.3rem; */
  position: absolute;
    bottom: 0;
    /* left: 0; */
    color: var(--text-color-light);
    list-style: none;
    /* font-size: 1rem; */
    text-decoration: none;
    /* display: inline-block; */
    width: 45rem;
    height: 1rem;
    margin-bottom: 15rem;
    padding-left: 3.3rem;
    /* display: inline-block; */
    text-align: left;
}

.slider__information-items li {
  display: inline-block;
  padding : 2rem;
  margin-bottom: 6rem;
  margin-left: -3rem;
  left : 0;
}
/* para */
.slider__infomation-paragraph {
  position: absolute;
  right : 0;
  bottom: 0;
  margin-bottom: 7.4rem;
  padding: 1rem;
  margin-left: 1.4rem;
  color : var(--text-color-light);
}

/* Button */
.slider__info-common {
  /* position: absolute;
  display: inline-block;
  left : 0;
  bottom: 0;
  width: 11rem;
  max-width: 20rem;
  height: 3.5rem;
  padding : 1rem 0 0 1.4rem ;
  margin: 0 0 3rem 2.4rem;
  background-color: var(--text-color-light);
  border-radius: 3px; */
    position: absolute;
    /* display: inline-block; */
    /* left: 0; */
    bottom: 0;
    width: 11rem;
    max-width: 20rem;
    height: 3.5rem;
    padding: 1rem 0 0 1.4rem;
    margin: 0 0 3rem 2.4rem;
    background-color: var(--text-color-light);
    border-radius: 0.3rem;
}

.slider__info-common a:hover {
  color : var(--placeholder-text);
}
.slider__info-common a {
  text-decoration: none;
  font-size: 1.4rem;
  color : var(--background-color);
  font-weight: 300;
}

.slider__info-common i {
  font-size: 1.4rem;
  padding-right: 0.7rem;
  background-color: var(--text-color-light);
}
/* trên là common code button */

.slider__info-detail {
  padding : 1rem 0 0 1.3rem ;
  margin: 0 0 3rem 14.5rem;
}

/* Chuyển tab slider */
.slider__button {
  position: absolute;
  right : 0;
  bottom : 0;
  margin-bottom: 3rem;
  padding: 0 0 0 2rem;
}

.slider__button-tap {
  outline: none;
  background-color: var(--text-color-light);
}

.slider__button .slider__button-tap:hover i {
  color : var(--placeholder-text);
  opacity: 1;
}

.slider__button .slider__button-tap {
  width: 3rem;
  height: 3rem;
  max-width: 5rem;
  cursor: pointer;
  margin-left: 2rem;
  border-radius: 1.5rem;
  display: inline-block;
}

.slider__button .slider__button-tap i {
  font-weight: 700;
  color: var(--background-color);
}

/* .slider__switch-tab .slider__switch-lists{
  color : red;
  list-style: none;
  position: absolute;
}

.slider__switch-list .slider_switch-item li {
  width: 3rem;
  height: 3rem;
  right: 0;
  display: inline-block;
} */
/* Carousel */
.carousel {
  display: block;
}

.wrap__content {
  width: 100%;
  display: inline-flex;
}
.carousel {
  width: 70%;
}
.carousel__film-update, 
.carousel__film-anime, 
.carousel__film-longChap {
  /* padding-top: 2rem; */
  margin-bottom: 2.5rem;
}



.carousel__film-update .carousel__tvHome-heading {
  width: 100%;
  height: 5rem;
  display: inline-block;
}
/* Heading carousel */
.carousel__tvHome-heading h2 {
  color : var(--text-color);
  font-size: 1.5rem;
  display: inline-block;
  line-height: 4rem;
  background-color: var(--btn-color);
  border-radius: 0.3rem;
  padding: 0 1.4rem;
  margin-right: 1rem;
}

.carousel__tvHome-heading h2 i {
  padding-left: 0.5rem;
}
.carousel__tvHome-heading .carousel__tvHome-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  color : var(--text-color-light);
  line-height: 3rem;
  padding: 0.5rem 1rem ;
  margin: 0 0.5rem;
  background-color: var(--wrap-color);
  border-radius: 0.3rem;
}

.carousel__tvHome-heading .carousel__tvHome-btn:hover {
  color: var(--btn-color);
}

/* list films */
.carousel__tvHome-listFilms {
  width: 100%;
}
.carousel__listFilms {
  list-style: none;
}
.carousel__listFilms-item {
  /* list-style: none;
  width: 21%;
  padding-right: 1rem;
  min-width: 17rem; */
  /* display: inline-block; */
  list-style: none;
  width: 18%;
  margin-right: 1.2rem;
  min-width: 13rem;
  position: relative;
  display: inline-block;
}

.carousel__listFilms-item .carousel__item-infomation {
  text-decoration: none;
  display: block;
}
/* info films */
.carousel__item-infomation {
  width: 100%;
  display: inline-block;
  margin-right: 1rem;

}

.carousel__listFilms-img img{
  border-radius: 0.3rem;
  /* margin-right: 0.5rem; */
  width: 100%;
  margin: 1rem 0;
  min-width: 13rem;
}

.carousel__img-fixed {
  width: 100%;
  position: relative;
  margin-right: 1rem;
}
.carousel__img-fixed .carousel__listFilms-ratePoint {
  position: absolute;
  right: 0;
  color: var(--rate-text);
  background-color: var(--bg-rate);
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  min-height: 1.3rem;
  min-width: 1.8rem;
  font-size: 0.8rem;
  bottom: 0;
  margin: 0 0.5rem 1.8rem 0;
}
.carousel__listFilms-ratePoint i {
  padding-right: 0.2rem;
}
.carousel__listFilms-img .carousel__listFilms-title{
  color: var(--text-color-light);
  font-weight: 300;
  margin-left: 30%;
  margin-top: -7%;
}
.carousel__listFilms-img .carousel__listFilms-view {
  color: var(--placeholder-text);
  font-weight: 300;
  margin-left: 25%;
  margin-top: -7%;
}

.carousel__listFilms-item::before {
  position: absolute;
  content: "";

}

/* Short description */
.carousel__listFilms-shortDescription {
  position: absolute;
  width: 23rem;
  max-width: 25rem;
  height: 20rem;
  max-height: 20rem;
  background-color: red;
  top : 0;
  margin-left: 10rem;
  background-color: var(--text-color-light);
  border-radius: 0.3rem;
  padding: 2rem;
  display: none;
  z-index: 1;
}

.carousel__listFilms-shortDescription::before {
  content : " ";
  position: absolute;
  border: 1rem solid;
  border-color: transparent var(--text-color-light) transparent transparent;
  left: 0;
  margin-left: -1.9rem;
  top: 45%;
}

.carousel__listFilms-shortDescription .carousel__shortDescription-heading {
  font-weight: 300;
  /* margin: 1rem; */
  margin-bottom: 0.5rem;
  color : var(--background-color);
}

.carousel__shortDescription-lists{
  /* padding-left: 0.rem; */
}
.carousel__shortDescription-item {
  display: inline-block;
  padding: 0 0.5rem 0.5rem ;
  list-style: none;
}
.carousel__shortDescription-item i {
  font-size: 1rem;
  padding: 0.1rem;
  color: var(--background-color);
}
.carousel__shortDescription-item span {
  color: var(--placeholder-text);
}

.carousel__shortDescription-item .carousel__shortDescription-star {
  color : var(--icon-color);
}
.carousel__shortDescription-para {
  font-size: 1rem;
  color: var(--placeholder-text);
  padding-left: 0.7rem;
}

.carousel__shortDecription-type {
  display: inline-block;
  padding-left: 0.7rem;
  padding-top: 1rem;
}

.carousel__shortDecription-type i {
  color: var(--icon-color);
  padding-right: 0.3rem;
}

.carousel__shortDecription-type span {
  color: var(--wrap-color);
}

.carousel__shortDecription-type .carousel__shortDecription-text {
  display: inline-block;
  color: var(--placeholder-text);
}
.common-listFilms-buttonPlay {
  margin-top: 1rem;
  position: absolute;
  width: 100%;
  height: 82%;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: red; */
  top: 0;
  left: 0;
  display: none;

}
.common-listFilms-buttonPlay i {
  position: absolute;
  display: none;
  /* height: 6rem;
  width : 7rem; */
  left : 0;
  top: 35%;
  font-size: 4.5rem;
  /* max-height: 6rem; */
  margin-left: 4.2rem;
  color: var(--rate-text);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: red; */
  border-radius: 50%;
  
}

.carousel__list-subMenu:hover .common-listFilms-buttonPlay {
  display: block;
}


.carousel__list-subMenu:hover .carousel__listFilms-shortDescription,
.carousel__list-subMenu:hover .common-listFilms-buttonPlay i
{
  display: block;
  animation: growUp ease-in 0.25s;
}

/* .common-listFilms-buttonPlay i {
  height: 3rem;
  width : 3rem;
} */

/* Aside */


.aside{
  width: 30%;
  float: right;
  padding: 0.5rem 0 0 1rem;
}
/* Đề xuất, random phim */
.aside__random-films {
  width: 100%;
  height: 17rem;
  background-color: rgb(14, 13, 13);
  padding: 0 2rem;
  border-radius: 0.3rem;
  margin-top: -0.5rem;
}

.aside__random-heading {
  width: 100%;
  line-height: 3rem;
  font-size: 1.4rem;
  color: var(--text-color-light);
  margin-bottom: 2.5rem;
  position: relative;
  padding-top: 0.5rem;
}

.aside__random-heading::after {
  content: "";
  position: absolute;
  background-color: var(--active-color);
  height: 0.25rem;
  width: 20%;
  margin: 4rem 0 0 -11.3rem;
}
.aside__random-heading::before {
  content: "";
  position: absolute;
  background-color: var(--wrap-color );
  height: 0.45rem;
  width: 100%;
  margin: 4rem 0 0;
}

.aside__random-paragraph {
  color: var(--placeholder-text);
  font-size: 1.25rem;
  padding: 1.2rem 0 ;
  margin-bottom: 1rem;
}

.aside__random-buttonPlay {
  padding: 1.25rem;
  background-color: var(--btn-color);
  text-decoration: none;
  border-radius: 0.2rem;
  margin-top:0.5rem;
}

.aside__random-buttonPlay:hover {
  background-color: var(--btn-hover);
}

.aside__random-buttonPlay .aside__buttonPlay-text {
  font-size: 1.3rem;
  color: var(--text-color);
}

.aside__random-buttonPlay i {
  color: var(--text-color-light);
  margin-right: 1rem;
}
/* Fanpage */
.aside__block-fanpage {
  width: 100%;
  height: 23rem;
  max-height: 24rem;
  background-color: rgb(14, 13, 13) ;
  margin-top: 2rem;
  padding: 0 2rem;
  position: relative;
  /* float: left; */
}

.aside__fanpage-heading{
  width: 50%;
  color: var(--text-color-light);
  padding: 5rem 0 2rem 0;
  margin: 1rem 0 1.4rem 0;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  position: relative;
}

.aside__fanpage-heading::before {
  content: "";
  position: absolute;
  height: 0.4rem;
  width: 100%;
  background-color: var(--wrap-color);
  bottom: 0rem;
  margin-bottom: 0.9rem;
  
}

.aside__fanpage-heading::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 30%;
  background-color: var(--active-color);
  bottom: 0;
  margin-bottom: 1rem;
  left: 0;
}

.aside__fanpage-follow {
  width: 50%;
  text-decoration: none;
  padding: 0.8rem;
  background-color: var(--text-color-light);
}

.aside__fanpage-follow:hover {
  background-color: var(--text-color);
}

.aside__fanpage-follow span {
  padding-left: 0.5rem;
  font-size: 1.4rem;
  color: var(--background-color);
}

.aside__fanpage-follow i {
  color: var(--fbook-color);
  font-size: 1.4rem;

}
.aside__fanpage-img {
  width: 50%;
  border-radius: 0.3rem;
}

.aside__fanpage-img img {
  position: absolute;
  max-height: 18rem;
  height: 18rem;
  width: 50%;
  right: 0;
  top: 0;
  margin: 1rem 0 1rem 1rem;
}
.aside__fanpage-desc {
  color: var(--placeholder-text);
  width: 100%;
  margin-top: 7rem;
  font-size: 1.25rem;
}

/* Phần nổi bật */
.aside__outstanding {
  margin-top: 2rem;
  padding-left :2rem;
}
.aside__outstanding-heading
{
  padding: 0.8rem 0 ;
  margin-bottom: 1rem;
  border-bottom-color: var(--text-color-light);
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.aside__outstanding-heading ul li {
  display: inline-block;
  padding: 0 0.3rem;
}
.aside__outstanding-heading ul li a{
  text-decoration: none;
  color: var(--text-color-light);
}
.aside__outstanding-heading ul li:hover a{
  color: var(--btn-color);
}

.aside__trailerFilms {
  margin-top: 2rem;
  padding-left :2rem;
}
.aside__trailerFilms-heading {
  margin-top: 0rem;
}
.aside__trailerFilms-heading ul li h2,
.aside__outstanding-heading ul li h2{
  color: var(--text-color-light);
  line-height: 1.5rem;
  font-weight: 400;
}

.aside__oustanding-btn {
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--placeholder-text);
}

.aside__trailerFilms-heading .aside__outstading-active,
.aside__outstanding-heading .aside__outstading-active {
  color: var(--btn-color);
}

.aside__trailerFilms-heading{
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
}


.aside__trailerFilms-heading ul li{
  display: inline-block;
  padding: 0.3rem;
}
.aside__trailerFilms-heading ul li a{
  text-decoration: none;
  color: white;
}
.aside__trailerFilms-heading ul li h2{
  color: white;
}
.outstanding__listFilms{
  padding-top: 1.7rem;
}
.outstanding__listFilms-img{
  height: 10rem;
  width: 8rem;
  display: inline-block;
  padding-right: 0.5rem;
  position: relative;
}
.outstanding__listFilms-img img {
  height: 10rem;
}

.aside-listFilms-buttonPlay {
  /* margin-top: 1rem; */
  margin-top: -0.5rem;
  position: absolute;
  width: 88%;
  height: 105%;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: red; */
  top: 0;
  left: 0;
  display: none;

}
.aside-listFilms-buttonPlay i {
  position: absolute;
  display: none;
  left: 0;
  top: 35%;
  font-size: 3.7rem;
  /* max-height: 6rem; */
  margin-left: 1.6rem;
  color: var(--rate-text);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: red; */
  border-radius: 50%;
  
}

.outstanding__listFilms-img:hover .aside-listFilms-buttonPlay{
  display: block;
  cursor: pointer;
}

.outstanding__listFilms-img:hover .aside-listFilms-buttonPlay i
{
  display: block;
  animation: growUp ease-in 0.25s;
}
.outstanding__listFilms-rank{
  position: absolute;
  top: -0.3rem;
  left: 0;
  background-color: yellow;
  text-align: center;
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  color: var(--background-color);
  
}
.triangle_left {
  position: absolute;
  width: 0;
  height: 0;
  top: 0.5rem;
  left: 0;
  border: solid 1.1rem;
  border-color: transparent transparent transparent yellow;
}
.triangle_right {
  position: absolute;
  width: 0;
  height: 0;
  top: 0.5rem;
  right: 6rem;
  border: solid 1.1rem;
  border-color: transparent yellow transparent transparent ;
}
.triangle_top{
  position: absolute;
  width: 0;
  height: 0;
  top: -0.55rem;
  right: 5.75rem;
  border: solid 0.3rem;
  border-color: transparent transparent yellow transparent;
}
  
/* Aside infor */

.aside__listFilms-infor {
  height: 7rem;
  width: 65%;
  float: right;
}
.aside__listFilms-infor h3 {
  color: var(--text-color);
  font-weight: 300;
}

.aside__listFilms-infor h3:hover {
  color: var(--active-color);
  cursor: pointer;
}

.outstanding__listFilms-item{
  margin-bottom: 1.5rem;
}

.outstanding__listFilm-title{
  color:  var( --placeholder-text);
  font-size: larger;
  height: 2rem;
  padding-bottom: 0.7rem;
}

.aside__trailerFilms-img{
  height: 9rem;
  width: 8rem;
}
.aside__listFilms-infor h3 {
  color: #fff;
  font-size: larger;
  padding-bottom: 0.3rem;
}
.aside__listFilms-infor i {
  color: var(--text-color);
  padding: 0rem 0.3rem;
  font-style:normal;
}
.outstanding__listFilms-info {
  margin-left: -0.25rem;
}
/* .outstanding__listFilms-info i{
  color: var(--rate-text);
} */

.outstading__listFilms-iconList {
  display: inline-block;
}

.outstading__listFilms-item {
  display: inline-block;
  padding: 0 0.2rem 0.5rem ;
  list-style: none;
}

.outstading__listFilms-item i {
  font-size: 1rem;
  padding: 0.1rem;
}

.outstading__listFilms-item .judge__listFilms-star {
  color: var(--rate-text);
}
.outstading__listFilms-item span {
  color: var(--placeholder-text);
}

.outstading__listFilms-item .outstading__listFilms-rate {
  color: var(--text-color);
}

/* Footer */
#footer{
  display: block;
}
.wrap__footer {
  background-color: var(--background-color);
  width: 107rem;
  max-width: 100%;
  height: auto;
  max-height: 320rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  position: relative;

}
.footer__nav-list {
  display: flex;
  align-items: center;
}

.footer__nav-list .footer__nav-logo {
  display: inline-block;
  /* margin-top: 0.5rem; */
  /* height: 5rem; */
  max-height: 5rem;
  max-width: 14rem;
  padding-left: 2rem;
}

.footer__nav-item a {
  text-decoration: none;
  padding: 2rem;
  color: var(--text-color);
  font-size: 1.4rem;
}
.footer__nav {
  height: 5rem;
  max-height: 5rem;
}

/* footer info */
.footer__info {
  width: 100%;
  padding: 0.5rem 0 0 12%;
  height: 10rem;
  max-height: 10rem;
}

.footer__info-column{
  float: left;
  width: 25%;
  padding-top: 0.7rem;
}
.footer__info-item{
  padding-top: 0.8rem;
}
.footer__info-column .footer__info-heading {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--text-color);
}
.footer__info-column .footer__info-item a {
  font-size: 1.2rem;
  color: var(--placeholder-text);
  text-decoration: none;
  font-weight: 300;
}

.footer__info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.05rem;
  background-color: var(--placeholder-text);
  top: 0;
  left : 0;
  margin-top: 6rem;
}


.footer__info-item:hover a {
  color: var(--active-color);
}

/* footer bottom */

.footer__bottom .footer__bottom-center{
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0 0 12%;
  height: 10rem;
  max-height: 10rem;
}
.footer__bottom-center p {
  padding-top: 1rem;
  width: 70%;
  color: var(--placeholder-text) ;
}

.footer__bottom-center a {
  color: var(--placeholder-text);
}

.footer__bottom-center a:hover {
  color: var(--active-color);
}
.footer__icon {
  width: 30%;
  float: right;
  margin: -4rem -4rem 0 0;
}
.footer__icon .footer__bottom-icon{
  padding: 0.5rem;
  display: inline-block;
  text-decoration: none;
}

.footer__bottom-icon a{
  text-decoration: none;
  padding-left: 0.3rem;
}

.footer__bottom-icon i {
  font-size: 2.5rem;
  color: var(--text-color);
}

.footer__bottom-icon i:hover {
  color: var(--text-color-light);
}

/* TheloaiPhim */

/* PhimChieuRap */
.wrap__movieTheater {
  width: 100%;
  height: 15rem;
  max-height: 17rem;
  padding-bottom: 3rem;
  display: inline-block;
}
/* Heading movieTheater */
.movieTheater__heading {
  display: block;
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 0.5rem;
}

.movieTheater__heading .movieTheater__heading-launch {
  color: var(--text-color-light);
  padding-right: 0.5rem;
  text-decoration: none;
}
.movieTheater__heading .movieTheater__heading-launch:hover {
  color : var(--rate-text);
}

.movieTheater__heading .movieTheater__heading-tab {
  color: var(--placeholder-text);
  font-size: 1.3rem;
  padding: 0.3rem;
}

.movieTheater__heading-tab span {
  padding-left: 0.5rem;
  font-weight: 200;
}

.movieTheater__filter {
  width: 100%;
}
.movieTheater__filter .movieTheater__filter-item {
  display: inline-block;
  padding: 2rem 2rem 1rem 1rem;
  margin-right: 2rem;
}

.movieTheater__filter-item .movieTheater__filter-tag {
  color: var(--placeholder-text);
  font-size: 1.5rem;
  font-weight: 300;
}

.movieTheater__filter-item .movieTheater__filter-tag i{
  padding-right: 0.5rem;
}
.movieTheater__filter-option .movieTheater__filter-lists {
  width: calc(100% + 4rem);
  height: 4rem; 
  padding: 1rem;
  margin: 1.5rem 0;
  background-color:  #222;
  color: var(--placeholder-text);
  border: none;
  cursor: pointer;
  appearance: none;
  border-radius: 0.5rem;
}
/* .movieTheater__filter-option .movieTheater__filter-lists:focus {
  border: none;
} */

.movieTheater__filter-btn {
  margin-left: 2rem;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 0.3rem;
  color: var(--text-color-light);
  box-shadow: inset 0 -0.3rem 0 rgba(0,0,0,.2);
  border: none;
}

.movieTheater__filter-btn:hover {
  background-color: #263238;
}

/* NoChapter */

.carousel__item-noChapter{
  position: absolute;
  background-color: var(--rate-text);
  line-height: 2rem;
  max-width: 4.2rem;
  right: 0;
  top : 8%;
  border-radius: 0.3rem;
  color: var(--background-color);
  margin-right: 0.5rem;
}

.carousel__item-noChapter span {
  font-size: 1rem;
  /* padding: 0.5rem; */
  padding: 0.3rem 0.5rem;
  margin-top: 1rem;
}
/* Have Chapter */
.carousel__item-haveChapter{
  /* position: absolute;
  background-color: var(--btn-color);
  line-height: 4rem;
  width: 4.5rem;
  max-width: 5rem;
  right: 0;
  top : 8%;
  border-radius: 20px;
  color: var(--text-color-light);
  margin-right: 0.5rem; */
  position: absolute;
    top: 2rem;
    right: 1rem;
    width: 4rem;
    padding-top: 0.8rem;
    text-align: center;
    height: 4rem;
    border-radius: 50%;
    background: var(--btn-color);
    color: var(--text-color);
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1rem;
    text-shadow: 0 0 0.2rem rgba(29, 28, 28, 0.3);
}

.carousel__item-haveChapter i {
  /* font-size: 1rem;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem; */
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    font-style: normal;
    margin-top: 0.7rem;
    color: var(--text-color-light)
}

/* Switch pages in PHIMCHIEURAP */
.carousel__switchTab {
  margin-left: 15rem;
  padding-top: 2rem;
  
}
.carousel__switchTab .carousel__switchTab-page{
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--placeholder-text);
  width: 1rem;
  max-width: 1.2rem;
  line-height: 1.5rem;
  background-color: red;
  margin: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--wrap-color);
}

.carousel__switchTab .carousel__switchTab-page:hover {
  background-color: var(--icon-color);
  color: var(--text-color-light);
}

.carousel__switchTab  .carousel__switchTab-noClick:hover {
  background-color: var(--wrap-color);
  color: var(--placeholder-text);
}

/*Page báo lỗi*/
.carousel__report-input{
  width: 100%;
  background-color: #686262;
  margin-top: 30px;
  height: 50%;
  
}

.carousel__report-inputLink{
  width: 90%;
  position: relative;
  left: 5%;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 0.6rem;
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(174, 169, 169);
  color: #a22610;
}
.carousel__report-inputDescribe{
  width: 90%;
  position: relative;
  left: 5%;
  height: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  padding-left: 0.5rem;
  text-decoration:dashed;
  background-color: rgb(174, 169, 169);
  font-family: Arial, Helvetica, sans-serif;
  color:#a22610;
  
}