<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LazyFilms: Xem Phim Không Giới Hạn</title>

  <link rel="stylesheet" href="/fonts/fontawesome.com/releases/v6.5.1/css/all.css" />
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
  <link rel="stylesheet" href="/fonts/Alata/Alata-Regular.ttf">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/img/SubLogo.jpg" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
  <script src = '/script/main.js' defer></script>
  <script src="/script/search.js" defer></script>




</head>

<body>
  <div class="wrap">
    <!--Header-->
    <header id="header">
      <nav class="nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="/index.html">
              <img src="/img/Logo.jpg" alt="LogoLazyFilms" class="header__nav-logo">
            </a>
          </li>
  
          <li class="header__nav-item header__mainPage">
            <a href="/index.html">TRANG CHỦ</a>
            <div class="header__mainPage-active"></div>
          </li>
  
          <li class="header__nav-item header__nav-subMenu">
            <a href="#">THỂ LOẠI
              <i class="fa-solid fa-angle-down"></i>
            </a>
            <!-- SubMenu -->
            <div class="header__subMenu">
              <ul class="header__subMenu-list">
                <li class="header__subMenu-item">
                  <a href="../Pages/TheLoaiPhim/TinhCam.html">Tình Cảm</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Chiến Tranh</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Gia Đình</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hành Động</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Học Đường</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Anime</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Gây Cấn</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hình Sự</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Khoa Học</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Bí Ẩn</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Cổ Trang</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hoạt Hình</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Kiếm Hiệp</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Kinh Dị</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">TV-Show</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Thần Thoại</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Phiêu Lưu</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Viễn Tưởng</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Khoa Học</a>
                </li>
  
              </ul>
            </div>
  
          </li>
  
          <li class="header__nav-item header__nav-subMenu">
            <a href="#">QUỐC GIA
              <i class="fa-solid fa-angle-down"></i>
            </a>
            <!-- SubMenu -->
            <div class="header__subMenu">
              <ul class="header__subMenu-list">
                <li class="header__subMenu-item">
                  <a href="#">Ấn Độ</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Âu-Mỹ</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Việt Nam</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hàn Quốc</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hồng Kông</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Thái Lan</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Hàn Quốc</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Indonesia</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="#">Đài Loan</a>
                </li>
  
              </ul>
          </li>
  
          <li class="header__nav-item">
            <a href="../Pages/TheLoaiPhim/TopPhim.html">TOP PHIM</a>
          </li>
  
          <li class="header__nav-item">
            <a href="../Pages/TheLoaiPhim/PhimChieuRap.html">PHIM CHIẾU RẠP</a>
          </li>
  
          <li class="header__nav-item ">
            <div class="header__nav-form">
              <a href="../Pages/Search/search.html" class="header__nav-search">
                <i class="fa-solid fa-magnifying-glass"></i>
              </a>

              <div class="header__nav-notification">
                <img src="/img/icon-alarm-active.jpg" alt="" class="non__active-noti active">
                <img src="/img/icon-alarm-active-fill.jpg" alt="" class="active__noti">
                <div class="header__noti--modal">
                  <div class="header__modal-title">
                    <h3>Thông báo</h3>
                  </div>

                  <!-- Chưa Login -->
                  <div class="header__modal--info not__logged">
                    <h5>Vui lòng
                      <strong>Đăng nhập</strong>
                      để nhận những thông báo mới nhất từ LazyFilms
                    </h5>
                  </div>

                  <!-- Đã Login -->
                  <div class="header__modal-info logged">
                    <div class="header__info-list">
                      <!-- item <-> 1 ngày -->
                      <div class="header__info-item">
                        <div class="info__item-day">
                          <span>Hôm nay</span>
                        </div>
                        <!-- item -->
                        <ul class="item__day-main">
                          <!-- read and unread -->
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                      </div>
                      <!-- item <-> 2 ngày -->
                      <div class="header__info-item">
                        <div class="info__item-day">
                          <span>Hôm qua</span>
                        </div>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                      </div>
                      <!-- item <-> trước hiện tại 2 days -->
                      <div class="header__info-item">
                        <div class="info__item-day">
                          <span>Thứ 3 30/4</span>
                        </div>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                        <!-- item -->
                        <ul class="item__day-main">
                          <li class="read unread">
                            <div class="table">
                              <div class="table__cell">
                                <img src="/img/monster-81712651434106_Landscape.jpg" alt="">
                                <div class="table__right-text">
                                  <div class="right__text-tilte">Monster #3 - Phần mới nhất</div>
                                  <div class="right__text-body">
                                    Một trong những bộ phim anime hay nhất mọi thời đại, xem ngay
                                  </div>
                                  <div class="right__text-time">4 giờ trước</div>
                                </div>
  
                              </div>
  
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
             
            </div>
            
  
          </li>
  
          <li class="header__nav-item header__nav-premium ">
            <a href="#" class="header__premium">
              <img src="/img/img_VIP.jpg" alt="VIP" class="header__premium-img">
            </a>
          </li>
  
          <li class="header__nav-item header__nav-login">
            <!-- Chưa login -->
            <a class="btn__login not__logged active " href="#">ĐĂNG NHẬP</a>
            <!-- Khi login -->
            <div class="show__login logged">
              <button class="wrap__profile" href="../Pages/Account/thong-tin-ca-nhan.html">
                <div class="profile__dropdown">
                  <img src="/img/user_avata_male.jpg" alt="avata_user" class="profile__dropdown-avata">
                </div>
                <img src="/img/down.jpg" alt="dropdown" class="profile__dropdown-toggle">
              </button>
  
              <div class="profile__menu">
                <ul class="profile__menu-list">
                  <a href="./Pages/Account/phim-yeu-thich.html" class="profile__menu-item">
                    <span class="loved__films">
                      <i class="fa-regular fa-heart"></i>
                      Phim yêu thích
                    </span>
                  </a>
                  <a href="./Pages/Account/lich-su-xem.html" class="profile__menu-item">
                    <span class="history__films">
                      <i class="fa-solid fa-clock-rotate-left"></i>
                      Lịch sử xem
                    </span>
                  </a>
                  <a href="./Pages/Account/thong-tin-ca-nhan.html" class="profile__menu-item">
                    <span class="setting__personal">
                      <i class="fa-regular fa-user"></i>
                      Cài đặt cá nhân
                    </span>
                  </a>
  
                  <a href="/index.html" class="profile__menu-item">
                    <span class="logout">
                      <i class="fa-solid fa-arrow-right-from-bracket"></i>
                      Đăng xuất
                    </span>
                  </a>
  
                </ul>
              </div>
            </div>
  
  
          </li>
        </ul>
      </nav>
    </header>
  
     <!-- Section Login -->
     <div class="container__login" id="login">
      <div class="login__section">
        <a class="login__section-close">
          <i class="fa-solid fa-circle-xmark"></i>
        </a>
        <div class="login__section--heading">
          <span>Đăng nhập</span>
        </div>

        <form action="#" class="login__modal-form">
          <div class="login__modal--group">
            <input type="email" placeholder="Email" name="email" autocomplete="off">
          </div>

          <div class="login__modal--group">
            <input type="password" placeholder="Mật khẩu">
            <i class="fa-regular fa-eye-slash"></i>
            <!-- <i class="fa-regular fa-eye"></i> -->
          </div>

          <div class="login__modal-group">
            <a href="#"><span class="login__modal--forgotPass">Quên mật khẩu ?</span></a>
          </div>

          <div class="login__modal--group">
            <button class="login__button" type="submit" name="submit">Đăng nhập</button>
          </div>

        </form>

        <p class="login__register-suggestion">Hoặc đăng nhập bằng</p>
        <div class="login__section--choiceLogin">
          <a href="#" class="login__choiceLogin-fb">
            <i class="fa-brands fa-facebook-f"></i>
          </a>

          <a href="#" class="login__choiceLogin-gg">
            <i class="fa-brands fa-google-plus-g"></i>
          </a>

        </div>

        <div class="login__modal--group">
          <span class="login__modal-register">Chưa có tài khoản?
            <a class="go__register" href="#">Đăng ký ngay</a> </span>
        </div>


      </div>
    </div>
  
    <!-- Section register -->
    <div class="container__register" id="regiters">
      <div class="register__section">
        <a class="register__section-close">
          <i class="fa-solid fa-circle-xmark"></i>
        </a>
        <div class="register__section--heading">
          <span>Đăng ký</span>
        </div>

        <form action="#" class="login__modal-form register__modal-form">
          <div class="login__modal--group register__modal-form">
            <input type="text" placeholder="Tên tài khoản" name="account" autocomplete="off">
          </div>

          <div class="login__modal--group register__modal-form">
            <input type="email" placeholder="Email" name="email" autocomplete="off">
          </div>

          <div class="login__modal--group register__modal-form">
            <input type="password" placeholder="Mật khẩu">
            <i class="fa-regular fa-eye-slash"></i>
            <!-- <i class="fa-regular fa-eye"></i> -->
          </div>

          <div class="login__modal--group login__password-auth">
            <input type="password" placeholder="Nhập lại mật khẩu">
            <i class="fa-regular fa-eye-slash"></i>
            <!-- <i class="fa-regular fa-eye"></i> -->
          </div>


          <div class="login__modal--group login__btn--register">
            <button class="register__button" type="submit" name="submit">Đăng ký</button>
          </div>

        </form>

        <div class="login__modal--group">
          <span class="login__modal-register">Đã có tài khoản?
            <a class="back__login" href="#">Đăng nhập ngay</a> </span>
        </div>


      </div>
    </div>

    <script>
      function sendData(e) {
        const respond__suggests = document.querySelector('.container__respond-search');
        respond__suggests.textContent = "";
        let match = e.value.match(/^[a-zA-Z]*/);
        let match2 = e.value.match(/\s*/);
        if(match2[0] === e.value) {
          respond__suggests.textContent = "";
          return;
        }

        console.log(respond__suggests )
        if(e.value !== match2[0]) {
          fetch('/search', {
            method:"POST",
            headers: {'Content-Type': "application/json"},
            body: JSON.stringify({payload: e.value.trimStart()})
          }).then(res => res.json()).then(data => {
            let payload = data.payload
            console.log(payload);
            //respond__suggests.innerHTML = "";
            if (payload.length < 1) {
              respond__suggests.innerHTML +=  `<ul class="respond__item">
                <a href="#" class="respond__item-main">
                  <div class="respond__item-content">
                    <div class="container__search--icon">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <span class="respond__search-text">----------Không Tìm Thấy Phim----------</span>
                  </div>
                </a>
              </ul>`;
              return;
            }
            payload.forEach((item, index) => {
              //if(index > 0) respond__suggests.textContent = '<hr>';
              console.log(item.name)
              respond__suggests.innerHTML +=  `<ul class="respond__item">
                <a href="#" class="respond__item-main">
                  <div class="respond__item-content">
                    <div class="container__search--icon">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <span class="respond__search-text">${item.name}</span>
                  </div>
                </a>
              </ul>`;
            });
          });
          return;
        }
      }
    </script>
    
    <!-- Search -->
    <div class="body__container">
      <div class="container__search">
        <!-- form search -->
        <form class="container__search--heading">
          <div class="container__search--icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <input type="text" class="container__search--input" name = "search-box" placeholder="Nhập tên phim cần tìm" onkeyup="sendData(this)">
          <button type = "submit" class = "btn__search">Tìm kiếm</button>
        </form>

        <!-- suggestion search -->
        <div class="container__respond-search">
          <!-- item search -->
          <!-- <ul class="respond__item">
            <a href="#" class="respond__item-main">
              <div class="respond__item-content">
                <div class="container__search--icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <span class="respond__search-text">Minions</span>
              </div>
            </a>
          </ul> -->
          
        </div>
        <!-- suggestion trending -->
        <div class="container__search--trending">
          <ul class="search__trending--list">
            <h4 class="search__trending--heading">Xu hướng gần đây</h4>
            <li class="search__trending--item">
              <a href="#" class="search__item--film">
                <div class="search__film--img">
                  <img src="/img/Than_An.jpg" alt="ThanAn">
                  
                  <!-- modal -->
                  <div class="search__img--modal">
                    <i class="fa-solid fa-play"></i>
                  </div>
                 
                </div>

                <div class="search__wrap--info">
                  <div class="search__item--heading">Thần Ấn</div>
                  <div class="search__item--headingSmall">The Last Immortal</div>
                  <div class="search__trending--info">
                    <span class = "search__trending--year">
                      <i class="fa-regular fa-calendar"></i>
                      2024
                    </span>
                    <span class = "search__trending--time">
                      <i class="fa-solid fa-clock"></i>
                      35 phút
                    </span>               
                    <span class = "search__trending--country">
                      <i class="fa-solid fa-globe"></i>
                      Trung Quốc
                    </span>
                  </div>
                </div>
              </a>
            </li>

            <li class="search__trending--item">
              <a href="#" class="search__item--film">
                <div class="search__film--img">
                  <img src="/img/phia-sau-khung-cua-so.jpg" alt="PhiaSauKhungCuaSo">
                  
                  <!-- modal -->
                  <div class="search__img--modal">
                    <i class="fa-solid fa-play"></i>
                  </div>
                 
                </div>

                <div class="search__wrap--info">
                  <div class="search__item--heading">Phía sau khung cửa sổ</div>
                  <div class="search__item--headingSmall">Show Window: The Queen's House</div>
                  <div class="search__trending--info">
                    <span class = "search__trending--year">
                      <i class="fa-regular fa-calendar"></i>
                      2024
                    </span>
                    <span class = "search__trending--time">
                      <i class="fa-solid fa-clock"></i>
                      35 phút
                    </span>               
                    <span class = "search__trending--country">
                      <i class="fa-solid fa-globe"></i>
                      Hàn Quốc
                    </span>
                  </div>
                </div>
              </a>
            </li>

            <li class="search__trending--item">
              <a href="#" class="search__item--film">
                <div class="search__film--img">
                  <img src="/img/nguyet-dao-di-gioi-phan-2-fpt-play-1704692496477_Landscape.jpg" alt="=NguyenDaoDiGioi_P2">
                  
                  <!-- modal -->
                  <div class="search__img--modal">
                    <i class="fa-solid fa-play"></i>
                  </div>
                 
                </div>

                <div class="search__wrap--info">
                  <div class="search__item--heading">Nguyệt Đạo Dị Giới P2</div>
                  <div class="search__item--headingSmall">Tsukimichi -Moonlit Fantasy- (Season 2)</div>
                  <div class="search__trending--info">
                    <span class = "search__trending--year">
                      <i class="fa-regular fa-calendar"></i>
                      2024
                    </span>
                    <span class = "search__trending--time">
                      <i class="fa-solid fa-clock"></i>
                      30 phút
                    </span>               
                    <span class = "search__trending--country">
                      <i class="fa-solid fa-globe"></i>
                      Nhật Bản
                    </span>
                  </div>
                </div>
              </a>
            </li>

            <li class="search__trending--item">
              <a href="#" class="search__item--film">
                <div class="search__film--img">
                  <img src="/img/thua-hoan-ky-fpt-play.jpg" alt="ThuaHoanKy">
                  
                  <!-- modal -->
                  <div class="search__img--modal">
                    <i class="fa-solid fa-play"></i>
                  </div>
                 
                </div>

                <div class="search__wrap--info">
                  <div class="search__item--heading">Thừa Hoàn Ký</div>
                  <div class="search__item--headingSmall">The Last Immortal</div>
                  <div class="search__trending--info">
                    <span class = "search__trending--year">
                      <i class="fa-regular fa-calendar"></i>
                      2024
                    </span>
                    <span class = "search__trending--time">
                      <i class="fa-solid fa-clock"></i>
                      42 phút
                    </span>               
                    <span class = "search__trending--country">
                      <i class="fa-solid fa-globe"></i>
                      Hàn Quốc
                    </span>
                  </div>
                </div>
              </a>
            </li>

            <li class="search__trending--item">
              <a href="#" class="search__item--film">
                <div class="search__film--img">
                  <img src="/img/tue-tue-thanh-lien.jpg" alt="TueTueThanhLiem">
                  
                  <!-- modal -->
                  <div class="search__img--modal">
                    <i class="fa-solid fa-play"></i>
                  </div>
                 
                </div>

                <div class="search__wrap--info">
                  <div class="search__item--heading">Tuế Tuế Thanh Liêm</div>
                  <div class="search__item--headingSmall">Bloomings Days</div>
                  <div class="search__trending--info">
                    <span class = "search__trending--year">
                      <i class="fa-regular fa-calendar"></i>
                      2024
                    </span>
                    <span class = "search__trending--time">
                      <i class="fa-solid fa-clock"></i>
                      35 phút
                    </span>               
                    <span class = "search__trending--country">
                      <i class="fa-solid fa-globe"></i>
                      Trung Quốc
                    </span>
                  </div>
                </div>
              </a>
            </li>

            <li class="search__trending--item">
              <a href="#" class="search__item--film">
                <div class="search__film--img">
                  <img src="/img/tue-tue-thanh-lien.jpg" alt="TueTueThanhLiem">
                  
                  <!-- modal -->
                  <div class="search__img--modal">
                    <i class="fa-solid fa-play"></i>
                  </div>
                 
                </div>

                <div class="search__wrap--info">
                  <div class="search__item--heading">Tuế Tuế Thanh Liêm</div>
                  <div class="search__item--headingSmall">Bloomings Days</div>
                  <div class="search__trending--info">
                    <span class = "search__trending--year">
                      <i class="fa-regular fa-calendar"></i>
                      2024
                    </span>
                    <span class = "search__trending--time">
                      <i class="fa-solid fa-clock"></i>
                      35 phút
                    </span>               
                    <span class = "search__trending--country">
                      <i class="fa-solid fa-globe"></i>
                      Trung Quốc
                    </span>
                  </div>
                </div>
              </a>
            </li>

            <li class="search__trending--item">
              <a href="#" class="search__item--film">
                <div class="search__film--img">
                  <img src="/img/tue-tue-thanh-lien.jpg" alt="TueTueThanhLiem">
                  
                  <!-- modal -->
                  <div class="search__img--modal">
                    <i class="fa-solid fa-play"></i>
                  </div>
                 
                </div>

                <div class="search__wrap--info">
                  <div class="search__item--heading">Tuế Tuế Thanh Liêm</div>
                  <div class="search__item--headingSmall">Bloomings Days</div>
                  <div class="search__trending--info">
                    <span class = "search__trending--year">
                      <i class="fa-regular fa-calendar"></i>
                      2024
                    </span>
                    <span class = "search__trending--time">
                      <i class="fa-solid fa-clock"></i>
                      35 phút
                    </span>               
                    <span class = "search__trending--country">
                      <i class="fa-solid fa-globe"></i>
                      Trung Quốc
                    </span>
                  </div>
                </div>
              </a>
            </li>

            <li class="search__trending--item">
              <a href="#" class="search__item--film">
                <div class="search__film--img">
                  <img src="/img/tue-tue-thanh-lien.jpg" alt="TueTueThanhLiem">
                  
                  <!-- modal -->
                  <div class="search__img--modal">
                    <i class="fa-solid fa-play"></i>
                  </div>
                 
                </div>

                <div class="search__wrap--info">
                  <div class="search__item--heading">Tuế Tuế Thanh Liêm</div>
                  <div class="search__item--headingSmall">Bloomings Days</div>
                  <div class="search__trending--info">
                    <span class = "search__trending--year">
                      <i class="fa-regular fa-calendar"></i>
                      2024
                    </span>
                    <span class = "search__trending--time">
                      <i class="fa-solid fa-clock"></i>
                      35 phút
                    </span>               
                    <span class = "search__trending--country">
                      <i class="fa-solid fa-globe"></i>
                      Trung Quốc
                    </span>
                  </div>
                </div>
              </a>
            </li>

           
          </ul>
        </div>

        <!-- Top search -->
        <div class="container__search-topSearch">
          <ul class="container__search-lists">
          <h4 class="search__topSearch--heading">Tìm kiếm hàng đầu</h4>
            <li class="container__search--item">
              <a href="#" class="container__search--text">
                <span>cháu trai của hiền nhân - kenja..</span>
              </a>
            </li>

            <li class="container__search--item">
              <a href="#" class="container__search--text">
                <span>new life begins</span>
              </a>
            </li>

            <li class="container__search--item">
              <a href="#" class="container__search--text">
                <span>demon slayer - thanh gươm..</span>
              </a>
            </li>

            <li class="container__search--item">
              <a href="#" class="container__search--text">
                <span>công chúa bán yêu</span>
              </a>
            </li>

            <li class="container__search--item">
              <a href="#" class="container__search--text">
                <span>anime</span>
              </a>
            </li>

            <li class="container__search--item">
              <a href="#" class="container__search--text">
                <span>quỷ cầu</span>
              </a>
            </li>

            <li class="container__search--item">
              <a href="#" class="container__search--text">
                <span>dữ lữu hành</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   <!-- Footer -->
   <footer id="footer">
    <div class="wrap__footer">
      <!--Footer navigation-->
      <nav class="footer__nav">
        <!--  -->
        <ul class="footer__nav-list">
          <li class="footer__nav-item">
            <a href="#">
              <img src="/img/Logo.jpg" alt="LogoLazyFilms" class="footer__nav-logo">
            </a>
          </li>

          <li class="footer__nav-item header__mainPage">
            <a href="/index.html">TRANG CHỦ</a>

          </li>
          <li class="footer__nav-item">
            <a href="#">GROUP THẢO LUẬN</a>
          </li>
        </ul>
      </nav>

      <!--Footer Infomation -->

      <div class="footer__info">
        <div class="footer__info-column">
          <h3 class="footer__info-heading">Giới thiệu về chúng tôi</h3>
          <ul>
            <li class="footer__info-item"><a href="#">Thông tin website</a></li>
          </ul>
        </div>

        <div class="footer__info-column">
          <h3 class="footer__info-heading">Hợp tác</h3>
          <ul>
            <li class="footer__info-item"><a href="#">Đăng quảng cáo</a></li>
          </ul>
        </div>

        <div class="footer__info-column">
          <h3 class="footer__info-heading">Hỗ trợ lỗi</h3>
          <ul>
            <li class="footer__info-item"><a href="#">Phản ánh ý kiến</a></li>
            <li class="footer__info-item"><a href="#">Hỗ trợ lỗi</a></li>
            <li class="footer__info-item"><a href="#">Câu hỏi thường gặp</a></li>
          </ul>
        </div>

        <div class="footer__info-column">
          <h3 class="footer__info-heading">Điều khoản dịch vụ</h3>
          <ul>
            <li class="footer__info-item"><a href="#">Điều khoản riêng tư</a></li>
            <li class="footer__info-item"><a href="#">Điều khoản sử dụng</a></li>
          </ul>

        </div>
      </div>


      <!--Footer bottom-->
      <div class="footer__bottom">
        <div class="footer__bottom-center">
          <p>Copyright &copy;2024 Lazyfilm <br />
            Chúng tôi sử dụng Cookies để cải thiện trải nghiệm sử dụng của bạn.
            Nếu bạn tiếp tục sử dụng trang web của chúng tôi, có nghĩa là bạn đồng ý chúng tôi sử dụng cookie.
            <a href="#">Đọc Chính sách quyền riêng tư Lazyfilms</a>
          </p>
          <!--Icon-->

          <ul class="footer__icon">
            <li class="footer__bottom-icon"> <a href="#" class="footer__icon-facebook">
                <i class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li class="footer__bottom-icon"><a href="#" class="footer__icon-instagram">
                <i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="footer__bottom-icon"><a href="#" class="footer__icon-youtube">
                <i class="fa-brands fa-youtube"></i></a>
            </li>
          </ul>

        </div>
      </div>


  </footer>
  </div>

</body>

</html>